#root, html, body{

    height: 100vh;

}

body{
    margin: 0;
    /* background-image: linear-gradient(to right, #141e30, #243b55); */
    background-image: url('https://videohive.img.customer.envatousercontent.com/files/ae6c2f3b-1d7f-4888-9995-58d3830da92d/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=588dd46604cd5fb8006974210d664d91');
    background-position: center;
    background-size: cover;
    width: 100%;
    height:auto;
}


* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
