#root, html, body{

    height: 100vh;

}

body{
    margin: 0;
    /* background-image: linear-gradient(to right, #141e30, #243b55); */
    background-image: url('https://as2.ftcdn.net/v2/jpg/03/75/61/99/1000_F_375619997_Lrz12daKRYLGG2wT63I2eB7K39NdTUTf.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height:auto;
}


* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
