#root, html, body{

    height: 100vh;

}

body{
    margin: 0;
    /* background-image: linear-gradient(to right, #141e30, #243b55); */
    background-image: url('https://t3.ftcdn.net/jpg/02/23/38/64/240_F_223386472_g3ZlTnCCTRD9jtcvXML9F3HUNu91UAa0.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height:auto;
}


* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
